@use "../abstracts/mixins";

// Popular Hosts
.host {
  margin-bottom: 20px;
  @include mixins.screenMax(sm) {
    max-width: calc(100vw - var(--padding-inline) * 2);
  }
  &__list {
    display: flex;
    justify-content: space-between;
    gap: 28px;
    padding: 1px 1px 8px;
    margin-top: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      height: 4px;
    }
    @include mixins.screenMax(sm) {
      gap: 12px;
      margin-top: 12px;
    }
  }
  &__item {
    flex-shrink: 0;
    scroll-snap-align: center;
  }
  &__avatar {
    flex-shrink: 0;
    width: 64px;
    height: 64px;
    border: 1px solid transparent;
    border-radius: 100rem;
    outline: 1px solid var(--secondary-color);
    object-fit: cover;
    @include mixins.screenMax(sm) {
      width: 46px;
      height: 46px;
    }
  }
  &__name {
    margin-top: 8px;
    color: var(--host-name);
    font-weight: 400;
    line-height: 142.857%;
    text-align: center;
    transition: color 0.25s;
  }
}

// Banner
.home .banner {
  --play-icon-bg: #e5eaf1;
  --play-icon-color: url(#play-icon-gradient);
  position: relative;
  padding-top: 20px;
  margin-bottom: 62px;
  @include mixins.screenMax(md) {
    padding-top: 0;
  }
  @include mixins.screenMax(md) {
    margin-bottom: 14px;
  }
  &__inner {
    display: flex;
    padding: 20px;
    margin-top: 11px;
    border-radius: 10px;
    background: var(--trending-inner-bg);
    transition: background 0.25s;
  }
  &__content {
    max-width: 46%;
    @include mixins.screenMax(md) {
      max-width: 100%;
    }
  }
  &__title {
    width: 276px;
    margin-bottom: 11px;
    color: var(--heading-color);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 145.455%;
    transition: color 0.25s;
    @include mixins.screenMax(md) {
      width: 70%;
    }
    @include mixins.screenMax(sm) {
      width: 100%;
      margin-bottom: 8px;
    }
  }
  &__highlight {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: var(--primary-gradient);
  }
  &__desc,
  &__name {
    color: var(--home-trending-desc);
    font-weight: 400;
    line-height: 142.857%;
    transition: color 0.25s;
  }
  &__name {
    margin-block: 4px 20px;
    color: var(--home-trending-name);
    @include mixins.screenMax(sm) {
      margin-top: 6px;
    }
  }
  &__btn {
    padding: 8px 14px;
  }
  &__arrow {
    position: absolute;
    top: 33%;
    right: 11%;
    @include mixins.screenMax(sm) {
      top: 40%;
      right: 7%;
    }
  }
  &__eclipse {
    position: absolute;
    right: 28%;
    bottom: 0;
    @include mixins.screenMax(md) {
      right: 5%;
    }
  }
  &__img {
    position: absolute;
    bottom: 0;
    right: 2%;
    width: 49%;
    max-width: 332px;
    object-fit: cover;
    @include mixins.screenMax(md) {
      display: none;
    }
  }
  &__slider {
    --bottom: -26px;
  }
}

// News feed
.home .feed {
  &__top {
    --height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 40px;
    color: #5f6164;
    line-height: var(--height);
    @include mixins.screenMax(md) {
      --height: 38px;
    }
    @include mixins.screenMax(sm) {
      margin-bottom: 14px;
    }
    @include mixins.screenMax(xs) {
      --height: auto;
    }
  }
  &__tabs {
    display: flex;
    align-items: stretch;
  }
  &__tab {
    height: var(--height);
    padding-inline: 10px;
    border-bottom: 1px solid #373a43;
    text-align: center;
    transition: color, border-color;
    user-select: none;
    transition-duration: 0.25s;
    cursor: pointer;
    &::before {
      content: attr(title);
      display: block;
      font-weight: 600;
      height: 0;
      overflow: hidden;
    }
    @include mixins.screenMax(sm) {
      font-size: 1.3rem;
    }
    @include mixins.screenMax(xs) {
      display: grid;
      place-items: center;
      padding: 10px 8px 2px;
      line-height: 142.857%;
    }
    &--active,
    &:hover {
      border-color: var(--primary-color);
      color: var(--primary-color);
      font-weight: 600;
    }
  }
  &__toggle {
    display: flex;
    gap: 10px;
    color: var(--feed-toggle-text);
    line-height: initial;
    transition: color 0.25s;
    @include mixins.screenMax(md) {
      gap: 0;
      font-size: 0;
    }
  }
}

.home .feed-item {
  --play-icon-bg: #fff;
  --play-icon-color: url(#play-icon-gradient);
  border-radius: 10px;
  border: 1px solid var(--feed-item-border);
  transition: border 0.25s;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  &__header {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 20px 20px 12px;
    border-bottom: 1px solid var(--feed-item-border);
    transition: border-bottom 0.25s;
    @include mixins.screenMax(sm) {
      padding: 20px 14px 16px;
    }
  }
  &__label {
    color: #a6a7b2;
    font-weight: 400;
  }
  &__avatar {
    flex-shrink: 0;
    position: relative;
    width: 48px;
    height: 56px;
    border-radius: 100rem;
    margin-right: 16px;
    object-fit: cover;
  }
  &__verified {
    position: absolute;
    right: 0;
    bottom: 2px;
  }
  &__rating-wrap {
    --rating-height: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    margin-bottom: 4px;
  }
  &__name {
    padding-right: 2px;
    color: var(--heading-color);
    line-height: var(--rating-height);
    transition: color 0.25s;
  }
  &__rating {
    display: flex;
    gap: 10px;
    line-height: var(--rating-height);
    white-space: nowrap;
  }
  &__stars {
    display: flex;
    align-items: center;
    gap: 3px;
    height: var(--rating-height);
  }
  &__more {
    margin-left: auto;
    padding-left: 8px;
  }
  &__body {
    position: relative;
    display: flex;
    gap: 20px;
    padding: 20px;
    border-bottom: 1px solid var(--feed-item-border);
    transition: border-bottom 0.25s;
    @include mixins.screenMax(sm) {
      padding: 16px 14px 18px;
    }
    @include mixins.screenMax(sm) {
      flex-direction: column;
      gap: 16px;
    }
  }
  &__thumb {
    flex-shrink: 0;
  }
  &__img {
    width: 152px;
    height: 158px;
    object-fit: cover;
    border-radius: 10px;
    @include mixins.screenMax(sm) {
      width: 100%;
      aspect-ratio: 1.89 / 1;
    }
  }
  &__share {
    position: absolute;
    top: 20px;
    right: 20px;
    @include mixins.screenMax(sm) {
      display: none;
    }
  }
  &__title {
    margin-top: 6px;
    color: var(--heading-color);
    line-height: 142.857%;
    transition: color 0.25s;
  }
  &__meta {
    display: inline-flex;
    gap: 4px;
    margin-top: 12px;
    line-height: 1;
    + .home-feed-item__meta {
      margin-left: 10px;
    }
  }
  &__meta-icon {
    margin-right: 3px;
  }
  &__desc {
    color: var(--heading-color);
    margin-top: 16px;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 146.154%;
    transition: color 0.25s;
    @include mixins.screenMin(sm) {
      @include mixins.text-truncate(3);
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    @include mixins.screenMax(xs) {
      padding: 14px;
    }
  }
  &__act {
    flex-shrink: 0;
    display: flex;
    gap: 20px;
  }
  &__act-btn {
    &--clicked {
      img {
        filter: brightness(0) saturate(100%) invert(48%) sepia(15%) saturate(338%)
          hue-rotate(178deg) brightness(98%) contrast(83%);
      }
    }
  }
  &__btn {
    padding: 8px 14px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 142.857%;
    @include mixins.screenMax(xs) {
      gap: 0;
      font-size: 0;
      padding: 8px;
    }
  }
}

// Explore: Top Podcast
.top-podcast {
  margin-bottom: 40px;
  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
  }
  &__thumb {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 10px;
  }
}

// Explore: Listening history
.listening {
  margin-bottom: 42px;
  &__item {
    display: flex;
    gap: 11px;
    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }
  &__thumb-wrap {
    width: 109px;
    height: 67px;
    border-radius: 4px;
  }
  &__thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }
  &__desc,
  &__title {
    @include mixins.text-truncate(1);
    line-height: 146.154%;
  }
  &__desc {
    margin-bottom: 3px;
    font-size: 1.3rem;
    font-weight: 400;
  }
  &__title {
    margin-bottom: 4px;
    color: var(--heading-color);
    font-size: 1.5rem;
    transition: color 0.25s;
  }
  &__meta-block {
    display: flex;
    gap: 16px;
  }
  &__meta {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 1.3rem;
    font-weight: 400;
    svg {
      width: 16px;
      height: 16px;
    }
  }
  &__icon {
    width: 16px;
    height: 16px;
    object-fit: contain;
  }
}

// Explore: Topics
.explore div.topic {
  margin-bottom: 30px;
  .heading {
    margin-bottom: 0;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px 22px;
  }
  &__info {
    gap: 0;
    text-align: initial;
    justify-content: flex-end;
  }
}
