@use "../abstracts/mixins";

.wrapper {
  --sidebar-width: 256px;
  max-width: 1440px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: var(--sidebar-width) minmax(0, 1fr);
  @include mixins.screenMax(xl) {
    --sidebar-width: 86px;
  }
  @include mixins.screenMax(sm) {
    display: initial;
  }
}

.container {
  --header-mobile-height: 72px;
}

.content {
  padding-inline: 56px;
  @include mixins.screenMax(xl) {
    padding-inline: 36px;
  }
  @include mixins.screenMax(md) {
    padding-inline: 24px;
  }
  &#content {
    @include mixins.screenMinMax(sm, lg) {
      padding-bottom: 50px;
    }
    @include mixins.screenMax(sm) {
      padding-bottom: 108px;
    }
  }
  &.home {
    --gutter: 60px;
    --main-content-width: calc((100% - var(--gutter)) * 0.6667);
    display: flex;
    gap: var(--gutter);
    padding-block: 30px 84px;
    @include mixins.screenMax(sm) {
      padding-block: 10px 108px;
    }
  }
  &.trending {
    padding-block: 36px 55px;
    @include mixins.screenMax(sm) {
      padding-top: 14px;
    }
  }
  &.topic {
    padding-block: 36px 80px;
    @include mixins.screenMax(sm) {
      padding-top: 14px;
    }
  }
}

.main-content {
  flex-shrink: 0;
  width: var(--main-content-width);
  @include mixins.screenMax(lg) {
    --main-content-width: 100%;
  }
}

.explore {
  background: var(--body-bg);
  flex-grow: 1;
  overflow-y: auto;
  transition: transform, background;
  transition-duration: 0.25s;
  @include mixins.screenMax(lg) {
    position: fixed;
    inset: 0 0 0 50%;
    z-index: 4;
    transform: translateX(100%);
    padding: 0 24px 36px;
  }
  @include mixins.screenMax(sm) {
    inset: 0;
    overflow-y: auto;
  }
  &__input {
    &:checked ~ .explore {
      transform: translateX(0);
    }
    &:checked ~ .explore__overlay {
      display: block;
    }
  }
  &__top {
    display: none;
    position: sticky;
    top: -12px;
    background: var(--body-bg);
    padding-block: 20px 8px;
    margin-bottom: 22px;
    transition: background 0.25s;
    @include mixins.screenMax(lg) {
      display: block;
    }
  }
  &__close {
    display: none;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    @include mixins.screenMax(lg) {
      display: flex;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #a6a7b2;
  }
  &__all {
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 1.3rem;
  }
  &__show {
    position: fixed;
    right: 24px;
    bottom: 24px;
    display: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100rem;
    background: var(--primary-gradient);
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
    @include mixins.screenMax(lg) {
      display: flex;
    }
    @include mixins.screenMax(sm) {
      bottom: 92px;
    }
    &:hover {
      opacity: 0.9px;
    }
  }
  &__overlay {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 3;
    background: rgba(#000, 0.3);
  }
}
