$grid-breakpoints: (
  xxs: 0,
  xs: 360px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@mixin screenMax($key) {
  $breakpoint: map-get($grid-breakpoints, $key);
  @if ($breakpoint) {
    @media (max-width: ($breakpoint - 0.02)) {
      @content;
    }
  } @else {
    @error 'The value "#{$key}" is not in breakpoints list.';
  }
}

@mixin screenMin($key) {
  $breakpoint: map-get($grid-breakpoints, $key);
  @if ($breakpoint) {
    @media (min-width: ($breakpoint)) {
      @content;
    }
  } @else {
    @error 'The value "#{$key}" is not in breakpoints list.';
  }
}

@mixin screenMinMax($min-key, $max-key) {
  $min-breakpoint: map-get($grid-breakpoints, $min-key);
  $max-breakpoint: map-get($grid-breakpoints, $max-key);
  @if ($min-breakpoint and $max-breakpoint) {
    @media (min-width: $min-breakpoint) and (max-width: ($max-breakpoint - 0.02px)) {
      @content;
    }
  } @else if (not $min-breakpoint) {
    @error 'The value "#{$min-key}" is not in breakpoints list.';
  } @else if (not $max-breakpoint) {
    @error 'The value "#{$max-key}" is not in breakpoints list.';
  }
}

@mixin text-truncate($line: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
